{{>admin-header}}


<section>
    <div class="container">
        <div class="row mt-5 content-justify-center">
            <div class="row">
                <h4 class="text-danger ">Book lists</h4>
            </div>
            <table class="table mt-2">
                <thead>
                    <tr>
                      
                        <th scope="col">Title</th>
                        <th scope="col">Author Name</th>
                        <th scope="col">Category</th>

                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each books}}
                    <tr>
                         
                         
                        <th scope="row">.</th>
                        <td>{{this.title}}</td>
                        <td>{{this.authorname}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.price}}</td>
                     
                       <td><img style="width:50px; height:70px;" src="./book-images/{{this._id}}.jpg" alt=""></td>
                        <td>{{status}}</td>
                       
                  

                     </tr>
                      {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</section>


<style>
    .container{
        height: 100vh;
    }
</style>